.vscode

course/else/experiment/n_body_simulation/data.txt
course/else/experiment/n_body_simulation/n_body_simulation

course/else/experiment/pid_drone/data.json
course/else/experiment/pid_drone/pid_drone

temp